.button {
	background-color: #75ead4; /* Green */
	border: 2px solid #75ead4;
	padding: 16px 32px;
	margin-top: 2rem;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 20px;

	&:hover {
		background-color: #4ae4c8; /* Green */
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}
